

{% extends './base.html'  %}
{% load static %}

{% block content %}

    <h2 class="text-center">Prediction</h2>
    <a href="/detectEmotion/">
<button type="button" class="btn btn-primary">Home</button>
</a>

  {% if uploaded_file_url %}

    <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ uploaded_file_url }}" class="img-thumbnail"  style="height:50%;" alt="Uploaded Image">
                </div>
            </div>
            
            <div class="row">

            <div class="col-md-3 col-lg-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Vgg16
                        </div>
                      
                        <div class="card-body">
                        
                            {% for em, pred in vgg16%}
                            
                            <h5 class="card-title">{{em}}: {{pred}}%</h5>
                            {% endfor %}

                        </div>
                    </div> 
                    </div>
                        <div class="col-md-3 col-lg-3">
                     <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Vgg19
                        </div>
                      
                        <div class="card-body">
                        
                            {% for em, pred in vgg19%}
                            
                            <h5 class="card-title">{{em}}: {{pred}}%</h5>
                            {% endfor %}

                        </div>
                    </div>
                    </div>
                        <div class="col-md-3 col-lg-3">
                      <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        resNet
                        </div>
                      
                        <div class="card-body">
                        
                            {% for em, pred in resNet%}
                            
                            <h5 class="card-title">{{em}}: {{pred}}%</h5>
                            {% endfor %}

                        </div>
                    </div>   
                    </div>
                        <div class="col-md-3 col-lg-3">
                      <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        OurModel
                        </div>
                      
                        <div class="card-body">
                        
                            {% for em, pred in conv2D%}
                            
                            <h5 class="card-title">{{em}}: {{pred}}%</h5>
                            {% endfor %}

                        </div>
                    </div> 
                    </div>
                    
                    
        
            </div>
            
    
            
            

    </div>


 {% else %} 
    <p class="text-center"> Something went wrong with the file upload </p>


  {% endif %}
 


{% endblock %}
